@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

#nav .ui-menu-color-home a.hvr-shutter-out-vertical {
    background-color: #e67e22;
}

#nav .ui-menu-color-resume a.hvr-shutter-out-vertical {
    background-color: #9b59b6;
}

#nav .ui-menu-color-contact a.hvr-shutter-out-vertical {
    background-color: #34db5e;
}

#nav .ui-menu-color-download a.hvr-shutter-out-vertical {
    background-color: #c04a4a;
}


/*--------------------------------------------Heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}


.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat; /*image will appear once rather than tiling*/
    background-size: cover; /*covers the container it is contained within*/
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;  /*pushes it down from top*/
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

/*to close up the gaps between menu items - this will give all items no visiablity so to overide see next target nav li*/
.menucontainer {
    font-size: 0;
}

/*Overrides the above for the child li*/
#nav li {
    font-size: 14px;
    padding: 0;
}

/*lines up profile pic with menu bar*/
#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%; /*make the entire area of this div clickable*/
    text-decoration: none; /*removes the underscore*/
    color: #fff;
    height: 120px;
}

/*targets fontawesome items*/
.menuitem a i {
    padding-top: 22px; /*pushes it down*/
    display: block; /*icon appears on new line of its own as i element usually appear inline*/
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block; 
    width: 100%; /*goes full width of our parent div*/
    padding-top: 5px; 
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300; /*slightly thiner than normal font weight but looks more elegant*/
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}*/